.logo {
        width: 100%;
        height: 200px;
        float: left;
        display: block;
    }
body {
    width:auto;
    height:auto;
    margin:0;
}
.catch-line{
    position:absolute;
    top:30px;
    left:35%;
    color:white;
    font-size: 6em;
     text-shadow: 20px 20px 4px black;
}
.dogslist{
    position:absolute;
    top: 5px;
    left: 45%;
    font-weight: bolder;
    font-family: cursive;
    color:purple;
    text-shadow: 4px 14px 4px black;
    }

.quote{
    position:absolute;
    top: 70px;
    left: 42%;
    color:blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic; 
}

