:root{
    --white: #fff;
    --green:rgb(44,50,14);
    --font-family: "Anton", Arial, sans-serif;
}

html {
    font-size: 100%;
}
@media (min-width: 800px) {
    html {
        font-size:112.5%;
    }
}
body{
    min-height: 400px;
    background: var(--green);
    background: linear-gradient(103deg, rgba(9,11,11,0.8) 0%,
    rgba(30,10,106,0.8) 100%),
    url('https://media.istockphoto.com/vectors/animal-shelter-pet-shop-flat-vector-illustration-vector-id1164940889?s=612x612')
}
.catch-line{
    color:white;
     size: 0.5em;
     text-shadow: 20px 20px 4px black;
}
body {
    width:auto;
    height:auto;
    margin:0;
}
h1 {
    text-align:center;
    font-weight: bolder;
    font-family: cursive;
    
    }

h2{
    text-align:center;
    color:blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic; 
}
@media(min-width: 800px){
    .catch-line{
        font-size: 10rem;
    }
}
.dogslist{
    color:purple;
    text-shadow: 4px 14px 4px black;
}
